@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    justify-content: space-between;
    padding-right: 3.5em;
    align-items: center;
    height: 4em;
    font: $button-font;

    @media only screen and (max-width: $mobile-width) {
        padding: 0 3em
    }

    background-image:none;
    background-position:0%;
    background-size:auto;
    background-repeat:repeat;
    background-attachment:scroll;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:#4F2B2B;
    background-color:#4F2929;
    background-color:#3F9DE4;
}

.menu {
    display: flex;
    column-gap: 2rem;
    font: $button-font;
}

.active {
    color: $black;
    font-weight: 600;
}